---
import { getCollection, render } from "astro:content";
import Project from "./Project.astro";

const projects = await getCollection("projects");
const sortedProjects = projects.sort(
  (a, b) => a.data.priority - b.data.priority
);
---

<div>
  <h1 class="text-lg font-bold mb-6">My Projects</h1>

  <ul class="grid grid-cols-1 md:grid-cols-2 gap-6">
    {
      sortedProjects.map(async (project) => {
        const { title, technologies, repository, live_demo } = project.data;
        const { Content } = await render(project);

        return (
          <Project
            title={title}
            technologies={technologies}
            repository={repository}
            live_demo={live_demo}
            Content={Content}
          />
        );
      })
    }
  </ul>
</div>
